/* general styles */
html, body {
    height: 100%;
    width: 100%;
  }

  /* padded section */
  .pad-section {
    padding: 50px 0;
  }
  /* vertical-centered text */
  .text-vcenter {
    display: block;
    position: relative;
    text-align: center;
    top: 35vw;
  }
  .text-vcenter a{
    font-weight: 700;
    margin: 0;
    padding: 20px;
    /* top: 50%; */
  }

  .mission{
    font-size: 1.6em;
  }
  .about{
    font-size: 1.2em;
  }
  /* additional sections */
  #home {
    background-image: url(/images/coopersanitech.png);
    background-attachment: fixed;
    background-position: fill;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50px;
    background-color: #4d4d4d67;
    display: table;
    height: 50vw;
    position: relative;
    width: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  }
  #services, #contact {
    background-color: #306d9f;
    color: #ffffff;
  }
  #services .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
  }
  #information {
    background-image: url(/images/coopersanitech.png);
    background-attachment: fixed;
    background-position: fill;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #4d4d4d67;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    text-align: center;
  }
  #information .panel {
    opacity: 0.95;
    margin-top: 10%;
    
  }
  footer {
    padding: 20px 0;
  }
  /* footer .glyphicon {
    color: #333333;
    font-size: 60px;
  }
  footer .glyphicon:hover {
    color: #306d9f;
  } */

  .service-height{
    height: 400px;
  }
  .submit{
    display: block;
    margin-top: 20px;
  }